node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.svelte-kit
node_modules

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.venv-aider

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.aider*

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Database locale
*.db
*.db.bak
*.sqlite3

#preacauzione
login.json
cookies.txt
